// ------------------------------------------------------------------------
// CSS Util: _color.scss 
// ------------------------------------------------------------------------

//
// Color Classes
//
@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .bg-#{$color_name} {
        background-color: $color_value !important;
        @include bg-selectable($color_value)
      }
      .text-#{$color_name} {
        color: $color_value !important;
      }
    }
    @else {
      .bg-#{$color_name}.bg-#{$color_type} {
        background-color: $color_value !important;
        @include bg-selectable($color_value)
      }
      .text-#{$color_name}.text-#{$color_type} {
        color: $color_value !important;
      }
    }
  }
}


//
// Transparent classes
//
.bg-transparent {
  background-color: transparent !important;
}
.text-transparent {
  color: transparent !important;
}
